/* AddressCard.css */
.address-card {
    border-radius: 10px;
    margin: 10px 0;

  }
  
  .address-card .card-body {
    padding: 15px;
    background-color: #f8f9fa;
    font-family: 'Poppins', sans-serif !important;


    
  }
  
  .address-card .card-title {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .address-card .card-text {
    margin-bottom: 5px;
    color: #333;
  }
  
  .address-card .card-footer {
    border-top: 1px solid #e9ecef;
    padding: 10px 0px;
    background-color: transparent;
  }
  
  .btn-outline-warning {
    color: #f39c12;
    border-color: #f39c12;
  }
  
  .btn-outline-warning:hover {
    background-color: #f39c12;
    color: white;
  }
  
  .btn-warning {
    background-color: #f39c12;
    border-color: #f39c12;
    color: white;
  }
  
  .btn-warning:hover {
    background-color: #e67e22;
    border-color: #e67e22;
  }
  