.tab-content{
    padding: 0px !important;
}
.bg-primary {
    background-color: #EAF1FF !important;
    /* color: black !important; */
}
.bg-success{
    /* color: black !important; */
    background-color: #FCF1DC !important;
}