.okeee{
    padding: 10% !important;
    border-radius: 14px !important;
}
.yeeeee{
    margin-bottom: 15% !important;
    font-size: 24px !important;
    font-weight: 700 !important;
    color: #003F62 !important;
}